In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
house_data = pd.read_csv("../input/kc_house_data.csv")
house_data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [3]:
features = ['bedrooms','bathrooms','sqft_living','sqft_lot','floors','zipcode']

In [4]:
from sklearn.model_selection import train_test_split
from sklearn import metrics
X = house_data[features]
y = house_data['price']

In [5]:
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state = 0)

In [6]:
from sklearn.ensemble import RandomForestRegressor

# Define the model. Set random_state to 1
rf_model = RandomForestRegressor(random_state=1)

In [7]:
rf_model

RandomForestRegressor(random_state=1)

In [8]:
# fit your model
rf_model.fit(train_X,train_y)

# Calculate the mean absolute error of your Random Forest model on the validation data
val_predictions = rf_model.predict(val_X)
val_mae = metrics.mean_absolute_error(val_predictions, val_y)
rf_val_mae = metrics.mean_absolute_error(val_predictions, val_y)

print("Validation MAE for Random Forest Model: {}".format(rf_val_mae))

Validation MAE for Random Forest Model: 94395.94561249163

# No of trees from the model

In [9]:
len(rf_model.estimators_)

100

In [10]:
rf_model.estimators_[0]

DecisionTreeRegressor(max_features='auto', random_state=1791095845)

# Visualization of RF tree

In [11]:
import pydotplus
import matplotlib.pyplot as plt

import graphviz 
from sklearn import tree

In [12]:
dot_data = tree.export_graphviz(rf_model.estimators_[0], out_file=None,feature_names=train_X.columns,
                                    class_names=train_y.name,
                                    filled=True, rounded=True,  special_characters=True)  
graph = pydotplus.graphviz.graph_from_dot_data(dot_data)

In [13]:
graph.write_png('RF0.png')

dot: graph is too large for cairo-renderer bitmaps. Scaling by 0.0498141 to fit

True